@model WebApplication2.Models.DanhMuc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">@Model.name</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">TrangChu</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">@Model.name</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-body text-uppercase" style="letter-spacing: 5px;">@Model.name</h6>
            <h1>Tất Cả @Model.name</h1>
        </div>
        <div class="row">
            @Html.Action("getProduct", "Default", new { meta = Model.meta })
        </div>
    </div>
</div>
<!-- Packages End -->
<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center mr-3" style="height: 100px; width: 100px; background-color: #d41d08 ">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Ngân hàng</h5>
                        <p class="m-0">Hỗ trợ mua xe tải Hino trả góp tới 85% giá trị xe. Đội ngũ chuyên viên giàu kinh nghiệm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center mr-3" style="height: 100px; width: 100px; background-color: #d41d08 ">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Trung tâm dịch vụ</h5>
                        <p class="m-0">Chính sách bảo hành & chăm sóc khách hàng toàn diện.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center  mr-3" style="height: 100px; width: 100px; background-color: #d41d08 ">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Địa chỉ chi nhánh CTY</h5>
                        <p class="m-0">Số 513 Xa lộ Hà Nội,Khu phố 1, P. Long Bình, Tp. Biên Hòa, tỉnh Đồng Nai</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->